<footer id = "main-footer">
    <ul>
      <li> <a> &copy;livfit </a> </li>
      <li> <a href = "/about"> About </a> </li>
      <li> <a href = "/contact"> Contact </a> </li>
    </ul>
  </footer>
</body>
</html>
