<%-include('./partials/header.ejs')%>
    <div class = "contain">
                <div id = "content">
                  <h3> livfit NC is a registered WEBSITE FOR buying and selling cheap and best footware. </h3>
                </div>
     </div>
<%-include('./partials/footer.ejs')%>