<%-include('./partials/header.ejs')%>
    <div class = "container">
        <div id = "content">
        <h3><%= error.status%> Error</h3> 
        <p><%= error.message%> </p>
        </div>
    </div>
    <%-include('./partials/footer.ejs')%>
