<%-include('./partials/header.ejs')%>
    <div class = "container">
        <section id = "main-content">
                <div class = "discription">
                  <h3>Welcome to livfit.
                    Here you can find the best shoes with the best price ever</h2>
                </div>
                <div class="d-flex justify-content-center" ><img class="img" src="https://i.etsystatic.com/39688666/r/il/4e6164/4679482836/il_340x270.4679482836_qunv.jpg" alt="Logo"/></div>

        </section>
     </div>
<%-include('./partials/footer.ejs')%>